<div class="modal fade mt-6" id="signupAccountModal" tabindex="-1" role="dialog" aria-labelledby="signupAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupAccountModalLabel">Sign up or log in to Zomato-Clone as Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= link_to "auth/facebook", class: "facebook" do %>
          <i class="fab fa-facebook-f fa-2x text-white mt-2"></i>
          <span class="text-white margin-center">Continue with Facebook</span>
        <% end %>

        <%= link_to "auth/google_oauth2", class: "google" do %>
          <%= image_tag "google_icon.png", class: "icon mt-2" %>
          <span class="text-secondary margin-center">Continue with Google</span>
        <% end %>
        
      </div>
    </div>
  </div>
</div>