<% @page_title = "My Bookings" %>

<div class="container container-size">
  <%= link_to "Go Back", :back || current_user, class: "btn btn-secondary my-4" %>
  <%= link_to "Book Table Now", restaurants_path, class: "btn btn-primary my-4" %>
  <div class="row">
    <div class="col-md-8">
      <% if @booking_tables.count == 0 %>
        <p class="text-danger">You haven't book any restaurant till now!</p>
      <% else %>
        <%= render @booking_tables %>
      <% end %>
      <%= will_paginate @booking_tables %>
    </div>
  </div>
</div>