
<div class="container-border bg-white mx-n3">
  <%= link_to @restaurant, class: "nav-link" do %>
    <div class="caption">
      <small class="text-secondary"><%= @restaurant.restaurant_category.name %></small>
      <h3 class="text-dark font-weight-bold"><%= @restaurant.name %></h3>
      <small class="text-secondary"><%= @restaurant.address %></small>
    </div>
  <% end %>
</div>
