<% @page_title = "Add Restaurant" %>

<div class="container container-size">
  <div class="row">
    <div class="col-md-9 my-4">
      <%= render "form" %>
    </div>

    <div class="col-md-3 my-md-5 my-2">
      <div class="container-border bg-white my-md-5 my-0 py-2 px-4 container-border">
        <h5 class="font-weight-bold">How it works</h5>
        <ul>
          <li class="small my-2">If you are the owner of a restaurant, or if you are a user who's discovered a place not listed on Zomato Clone., let us know using this form.</li>
          <li class="small my-2">Once you send the information to us, our awesome content team will verify it. To help speed up the process, please provide a contact number or email address.</li>
          <li class="small my-2">That's it! Once verified the listing will start appearing on Zomato Clone.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
