<div class="container container-size">
  <div class="col-md-8">
    <div class="bg-white container-border my-4">
      <%= image_tag @menu_card.image.url, class: "img-responsive" %>
      <div class="caption">
        <%= @menu_card.description %>
      </div>
    </div>

    <div>
      <% if is_admin? %>
        <%= link_to edit_restaurant_menu_card_path(@menu_card.restaurant, @menu_card), title: "Edit", class: "btn btn-primary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        
        <%= link_to [@menu_card.restaurant, @menu_card], method: :delete, data: { confirm: "Are you sure?" }, title: "Delete", class: "btn btn-danger" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>