/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/scss/bootstrap
 *= require raty-js/lib/jquery.raty
 *= require jquery-timepicker/jquery.timepicker
 *= require bootstrap-datepicker/dist/css/bootstrap-datepicker.min
 *= require lightbox2/dist/css/lightbox.min
 *= require @fortawesome/fontawesome-free/css/all.min
 */



*{
  margin: 0;
  padding: 0;
}

.bg-color{
  background-color: #efefef;
}

.container-size{
  max-width: 1200px;
}

.container-border{
  border: 0.5px solid #dfdfdf;
  border-radius: 5px;
}

.cart-height{
  max-height: 400px;
}

.table-height{
  max-height: 200px;
}

.img-large{
  width: 100%;
  max-height: 300px;
}

.img-middle{
  width: 100%;
  max-height: 150px;
}

.custom-border{
  border: 1px, solid #dfdfdf;
  padding: 2px 5px;
  padding-bottom: 0px;
}

.margin-0{
  margin: 0 -15px;
}

.imp-link{
  text-decoration: none !important;
}

.icon{
  padding: 16px;
  width: 60px;
  height: 60px;
}

.small-icon{
  width: 20px;
  height: 20px;
}

.veg-icon{
  max-width: 20px;
  height: auto;
}

.nonveg-icon{
  max-width: 14px;
  height: auto;
  padding-left: -25px;
}

.btn.form-control.facebook{
  padding: 0 10px;
  background-color: #3232a8;
}

.btn.form-control.google{
  background-color: #eeeeee;
  shadow: 5px 2px #545544;
}


.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.bg-white{
  background-color: #fff;
}

.bg-red{
  background-color: #d22929;;
}

.quantity-input{
  padding: 7px;
  margin-right: 10px;
  max-width: 80px;
}

.link{
  color: #000;
  margin: 0;
  padding: 0.15em 1em;
  text-decoration: none;
  border-bottom: 0.5px solid #dfdfdf;
}

.link:hover{
  text-decoration: none;
  background-color: #efefef;
}

.review-image{
  max-width: 35%;
  height: auto;
}

.item{
  background-color: #fff;
  border-radius: 3px;
}

.nav-item:hover, .nav-item .bg-red:hover{
  border-radius: 3px;
  background-color: #f00;
  a.nav-link:hover{
    color: #fff;
  }
}

@media screen and (max-width: 768px){
  .form-size{
    width: 300px;
  }
}

@media screen and (min-width: 768.5px){
  #near{
    max-width: 150px;
  }
}