/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/scss/bootstrap
 */

$fa-font-path: '@fortawesome/fontawesome-free/webfonts'; 
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';


.bg-color{
  background-color: #efefef;
}

.container-size{
  max-width: 1200px;
}

.facebook{
  background-color: #304d8a;
  padding: 1em;
  border-radius: 4px;
}

.google{

}

.margin-center{
  margin-right: 25%;
  margin-left: 25%;
  text-decoration-style: none;
}

.icon{
  padding: 16px;
  width: 60px;
}

#more-info{
  display: none;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.bg-white{
  background-color: #fff;
}

.link{
  text-decoration: none;
}
.link:hover{
  background-color: #efefef;
}