// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_review{
  display: none;
}

#cancel{
  display: none;
}

.word-break{
  word-break: break-all;
}